<% provide(:title, "Home") %>
<!-- home_title includes primary title and the search circle found in _home_title.erb-->
<div class='row'>
   <%= render 'layouts/home_title'%>
</div>
<hr style='opacity: 0;'>
<!--Glossary circle-->
<%= link_to(
   raw("<div id='home_community_partner'>
           <div class='circleBase'>
               <span class='glyphicon glyphicon-briefcase'>
               </span>
               Community Partners
           </div>
       </div>"),
   partners_path)
   %>
<!--Image-->
<div class='home_image text-center col-md-3' >
   <%= image_tag 'grinnell-students-doing-engaged-work.JPG', class:'home_image'%>
</div>
<!--Home summary description  -->
<div class='home_summary'>
   <p class="title"> A digital toolbox for faculty</p>
   <p>
      interested in, currently building, or reflecting on 
      community engaged teaching, scholarship, and mentorship.
   </p>
</div>


<br><br><br><br>

<div class="row">
  <div class="column">
    <a href="what_is_cel"><%= image_tag "Alt Break Board walk.jpg"%></a>
    <a href="partners"><%= image_tag "Alt Break board retreat.jpg"%></a>
    <%= image_tag "thumbnail_MidWest Leaders.jpg"%>
    <%= image_tag "Alt Break board grasses.jpg"%>
  </div>
  <div class="column">
    <a href="syllabi"><%= image_tag "thumbnail_Candyland Station Tour Group 2016.jpg"%></a>
    <%= image_tag "thumbnail_20181004.bread.puppets.1370.jpg"%>
    <%= image_tag "thumbnail_20160608butterflyCERA148.jpg"%>
    <%= image_tag "thumbnail_20130906nightfall370.jpg"%>
  </div>
  <div class="column">
    <a href="community_partnerships"><%= image_tag "Hibiscus Flowers Railway Express.jpg"%></a>
    <%= image_tag "Alt Break board line (1).jpg"%>
    <%= image_tag "view (2).jpg"%>
  </div>
</div>
