<% provide(:title, "Home") %>



<!--Home summary description  -->
<div class='home_summary'>
   <p class="title"> A Digital Toolbox For Faculty</p>
   <p>
      For faculty members interested in, currently building, or reflecting on 
      community engaged teaching, scholarship, and mentorship.
   </p>
</div>


<br><br><br><br>


<div class="row">
  <div class="column">
    <a href="assessment"><%= image_tag "Alt Break board line (1).jpg"%></a>
    <a href="professional_dev"><%= image_tag "thumbnail_MidWest Leaders.jpg"%></a>
  </div>
  <div class="column">
    <a href="course_design"><%= image_tag "thumbnail_20160608butterflyCERA148.jpg"%></a>
    <a href="syllabi"><%= image_tag "thumbnail_20130906nightfall370.jpg"%></a>
  </div>
  <div class="column">
    <a href="implementation"><%= image_tag "Alt Break board retreat.jpg"%></a>
    <a href="partners"><%= image_tag "view (2).jpg"%></a>
  </div>
</div>
