<% provide(:title, "Home") %>

<!--Space at top  -->
<p> </p>
<br><br>

<!--Home summary description  -->
<div class='home_summary'>
   <p class="title"> A Digital Toolbox For Faculty</p>
   <p>
      For faculty members interested in, currently building, or reflecting on 
      community engaged teaching, scholarship, and mentorship.
   </p>  
</div>


<br><br><br><br><br>


<div class="row">
  <div class="column">
  <div class="tile">
      <%# Hover over text %>
      <a href="partners" title="Children gardening">
        <h4 class="tile-overlay-text"> Build community relationships through trust →</h4>
      </a>
      <%# The actual tile %>
      <a class= "tile-background" href="partners" title="Children gardening">
        <%= image_tag "view (2).jpg"%>
        <h3 class="whiteTextOverride"> PARTNERSHIPS </h3>
      </a>
    </div>
    <div class="tile">
    <%# Hover over text %>
      <a href="assessment" title="Students walking in field on Alt Break">
        <h4 class="tile-overlay-text"> Reflect on growth & partnerships →</h4>
      </a>
      <%# The actual tile %>
      <a class= "tile-background" href="assessment" title="Students walking in field on Alt Break">
        <%= image_tag "Alt Break board line (1).jpg"%>
        <h3 class="whiteTextOverride"> ASSESS</h3>
      </a>
    </div>
  </div>
  <div class="column">
    <div class="tile">
      <%# Hover over text %>
      <a href="course_design" title="People farming in field">
        <h4 class="tile-overlay-text"> Explore steps to civically engaged curriculum →</h4>
      </a>
      <%# The actual tile %>
      <a class="tile-background" href="course_design" title="People farming in field">
        <%= image_tag "thumbnail_20160608butterflyCERA148.jpg"%>
        <h3 class="whiteTextOverride"> DESIGN </h3>
      </a>
    </div>
    <div class="tile">
      <%# Hover over text %>
      <a href="professional_dev" title="Students at Professional Development">
        <h4 class="tile-overlay-text"> Professional skills gained as facilitators & learners →</h4>
      </a>
      <%# The actual tile %>
      <a class="tile-background" href="professional_dev" title="Students at Professional Development">
        <%= image_tag "thumbnail_MidWest Leaders.jpg"%>
        <h3 class="whiteTextOverride"> DEVELOPMENT </h3>
      </a>
    </div>
  </div>
  <div class="column">
    <div class="tile">
      <%# Hover over text %>
      <a href="implementation" title="Students in front of barn">
        <h4 class="tile-overlay-text"> Manage the moving parts of an engaged class or project →</h4>
      </a>
      <%# The actual tile %>
      <a class="tile-background" href="implementation" title="Students in front of barn">
        <%= image_tag "Alt Break board retreat.jpg"%>
        <h3 class="whiteTextOverride"> IMPLEMENT </h3>
      </a>
    </div>
    <div class="tile">
      <%# Hover over text %>
      <a href="syllabi" title="People watching sunset">
        <h4 class="tile-overlay-text"> Check out course examples →</h4>
      </a>
      <%# The actual tile %>
      <a class="tile-background" href="syllabi" title="People watching sunset">
        <%= image_tag "thumbnail_20130906nightfall370.jpg"%>
        <h3 class="whiteTextOverride"> SYLLABI </h3>
      </a>
    </div>
  </div>
</div>

<br><br><br><br><br>
