<% provide(:title, "Search") %>

<h1>S E A R C H</h1>


<%= form_with(model: @toolkit, local: true) do |f| %> 

    <%= f.label :name %>
    <%= f.text_field :query, class: 'form-control' %>

    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>

<% @toolkits.each do |toolkit| %>
	    <p><%= toolkit %></p>
<% end %>

