<nav class="navbar navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!--Grinnell Logo-->
    <%= link_to image_tag("grinnell-logo-without-text.png", class: "logo"), 'https://www.grinnell.edu/', target:"_blank", class:'navbar-brand'%>
    <%= link_to "Community Engaged Learning", root_path, class:'navbar-brand'%>
    <!--Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
       <li><%= link_to "About", about_path, class:'home_link' %></li>
       <li><%= link_to "Partnerships", community_partnerships_path, class:'home_link' %></li>
       <li class="dropdown">
          <a class="dropdown-toggle", href="what_is_cel">Toolkit<b class="caret"></b></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="course_design">Design a Course</a></li>
            <li><a href="implementation">Implementation</a></li>
            <li><a href="assessment">Assessment</a></li>
          </ul>
        </li>
       <li><%= link_to "Faculty Development", professional_dev_path, class:'home_link' %></li>
       <li><%= link_to "Partners Map", partners_path, class:'home_link' %></li>
       <li><%= link_to "Syllabi", syllabi_path, class:'home_link' %></li>
       <li><%= link_to image_tag("search.png", size: "20x20"), '/index'%></li>

    </div>
  </div>
</nav>